<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Система бронирования</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Система бронирования / управление бронированиями</a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                <ul class="navbar-nav gap-2">
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link active" href="/app/booking/list">Бронирование</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/app/operation/list">Услуги</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/app/timeslot/list">Слоты времени</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/app/client/list">Клиенты</a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                        <a class="nav-link" href="/app/user/list">Учетные записи</a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                        <a class="nav-link" href="/app/role/list">Роли</a>
                    </li>
                    <div class="vr"></div>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a href="javascript: document.logoutForm.submit()" class="btn btn-light">Выйти</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden type="submit" value="Выйти" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card w-50">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>Открытие записи на дату</div>
                    <form th:method="get" th:action="@{/app/booking/list}">
                        <button type="submit" class="btn-close" aria-label="Close"></button>
                    </form>
                </div>
                <div class="card-body">
                    <form method="post" th:action="@{/app/booking/open}" th:object="${entity}">
                        <table class="table table-borderless align-middle">
                            <thead>
                                <tr>
                                    <td>Дата записи</td>
                                    <td><input type="text" class="w-100" th:field="${entity.dateFor}"/></td>
                                </tr>
                                <tr>
                                    <td>Время начала</td>
                                    <td><input type="text" class="w-100" th:field="${entity.timeFrom}"/></td>
                                </tr>
                                <tr>
                                    <td>Время окончания</td>
                                    <td><input type="text" class="w-100" th:field="${entity.timeTo}"/></td>
                                </tr>
                                <tr>
                                    <td>Отключено</td>
                                    <td><div class="form-switch"><input readonly="readonly" class="form-check-input" type="checkbox" th:field="${entity.isLocked}"/></div></td>
                                </tr>
                                <tr th:object="${operations}">
                                    <td>Услуга</td>
                                    <td>
                                        <select class="w-100" th:field="${entity.operationId}" required readonly="readonly">
                                            <option th:each="item : ${operations}"
                                                    th:value="${item.operationId}"
                                                    th:text="${item.title}"
                                                    th:selected="${item.operationId == entity?.operationId}">
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                        <button class="btn btn-light float-end" type="submit" value="Submit">Применить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>